nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  z-index: 99;
  padding: 0 0 0 10%;
}

.menu {
  display: flex;
  margin-right: 20%;
}

.menu > li {
  padding: 0 0.75rem;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease;
}

.menu > li:hover {
  font-size: 1.4rem;
  color: #cb450c;
}

.name-logo {
  font-family: 'Space Mono', monospace;
  font-size: 1.3em;
}

.icon {
  height: 35px;
  width: 35px;
  padding-right: 20px;
}

.scrolled {
  backdrop-filter: blur(10px);
}



